<nb-card size="medium">
    <nb-card-body>
      <div *ngIf="weatherData?.city.name">
      <span class="h3 location">{{weatherData.city.name }}</span>
      <span class="date">{{mydate | date}}</span>
      <span class="status">{{weatherData.list[0].weather[0].description}}</span>
    </div>
      <div *ngIf="weatherData?.list[0].main.temp" class="today">
        <span class="today-temperature h2">{{weatherData.list[0].main.temp | number:'1.0-0'}}&deg;</span>
        <div class ="icon"><img src= "http://openweathermap.org/img/wn/{{weatherData.list[0].weather[0].icon}}@2x.png" alt=""></div>
        <!-- <nb-icon icon="umbrella-outline" pack="eva" class="today-icon"></nb-icon> -->
      </div>

   
  
      <div *ngIf="weatherData?.list[0].main.temp_max" class="today-details">
        <div class="parameter">
          <span class="caption parameter-name">max</span>
          <span class="parameter-value">{{weatherData.list[0].main.temp_max | number:'1.0-0'}}&deg;</span>
        </div>
        <div *ngIf="weatherData?.list[0].main.temp_min" class="parameter">
          <span class="caption parameter-name">min</span>
          <span class="parameter-value">{{weatherData.list[0].main.temp_min | number:'1.0-0'}}&deg;</span>
        </div>
        <div *ngIf="weatherData?.list[0].wind.speed" class="parameter">
          <span class="caption parameter-name">wind</span>
          <span class="parameter-value">{{weatherData.list[0].wind.speed}} km/h</span>
        </div>
        <div *ngIf="weatherData?.list[0].main.humidity" class="parameter">
          <span class="caption parameter-name">hum</span>
          <span class="parameter-value">{{weatherData.list[0].main.humidity}}%</span>
        </div>
      </div>
  
      <div class="weekly-forecast">
        <div class="day">
          <span class="caption">Sun</span>
          <i class="weather-icon ion-ios-cloudy-outline"></i>
          <span class="temperature">17&deg;</span>
        </div>
        <div class="day">
          <span class="caption">Mon</span>
          <i class="weather-icon ion-ios-sunny-outline"></i>
          <span class="temperature">19&deg;</span>
        </div>
        <div class="day">
          <span class="caption">Tue</span>
          <i class="weather-icon ion-ios-rainy-outline"></i>
          <span class="temperature">22&deg;</span>
        </div>
        <div class="day">
          <span class="caption">Wed</span>
          <i class="weather-icon ion-ios-partlysunny-outline"></i>
          <span class="temperature">21&deg;</span>
        </div>
      </div>
    </nb-card-body>
  </nb-card>
  