<div class="row">
    <div class="col-md-6">
        <nb-card>
            <nb-card-header>Login</nb-card-header>
            <nb-card-body>
                <div class="row">
                    <div class="col-12 alert alert-danger">
                        {{authError?.message}}
                    </div>
                </div>
                <form class="form-horizontal" (ngSubmit)=logincomponent() #form="ngForm">  
                    <div class="form-group row">
                        <label for="inputEmail" class="label col-sm-3">Email</label>
                        <div class="col-sm-9">
                            <input type="text" 
                            name="name"
                            nbInput fullWidth
                            id="inputemail"
                            placeholder="Email"
                            [(ngModel)]="details.email"
                            #email="ngModel"
                            pattern=".+@.+\..+"
                            required
                            [status]="email.dirty? (email.invalid ? 'danger':'success'):''"
                            [attr.aria-invalid]="email.invalid && email.touched? true:null"
                            />
                            <ng-container *ngIf="email.invalid && email.touched">
                                <p class="caption status-danger" *ngIf="email.errors?.required">
                                    Email is required
                                </p>
                                <p class="caption status-danger" *ngIf="email.errors?.pattern">
                                    Email must be real
                                </p>
                            </ng-container>
                            
                        </div>
                    </div>


                    <div class="form-group row">
                        <label for="inputPassword" class="label col-sm-3">Password</label>
                        <div class="col-sm-9">
                            <input type="password" 
                            name="password"
                            nbInput fullWidth
                            id="inputpassword"
                            placeholder="Password"
                            [(ngModel)]="details.password"
                            #password="ngModel"
                            required
                            [status]="password.dirty? (password.invalid ? 'danger':'success'):''"
                            [attr.aria-invalid]="password.invalid && password.touched? true:null"
                            />
                            <ng-container *ngIf="password.invalid && password.touched">
                                <p class="caption status-danger" *ngIf="password.errors?.required">
                                    Password is Required !
                                </p>
                            </ng-container>
                        </div>
                      
                        
                       

                    </div>

                    <button nbButton
                    fullWidth
                    status="primary"
                    [disabled]="false || !form.valid"
                    >
                    Login
                    </button>

                    


                </form>
            </nb-card-body>
        </nb-card>
    </div>
</div>