<div class="row">
    <div class="col-md-6">
        <nb-card>
            <nb-card-header>Register</nb-card-header>
            <nb-card-body>
                <form class="form-horizontal" (ngSubmit)=onRegister() #form="ngForm" aria-labelledby="title">
                    <div class="form-group row">
                        <label for="inputName" class="label col-sm-3 fomr-contro-label">Name</label>
                        <div class="col-sm-9">
                            <input name="name" 
                            type="text" 
                            nbInput fullWidth
                            id="inputusername" 
                            placeholder="Username" 
                            [(ngModel)]="register.name"
                            #name="ngModel"
                            required
                            [status]="name.dirty ? (name.invalid ? 'danger':'success'): ''"
                            [attr.aria-invalid]="name.invalid && name.touched? true:null"
                            />
                            <ng-container *ngIf="name.invalid && name.touched">
                                <p class="caption status-danger" *ngIf="name.errors?.required">
                                    Username is Required!
                                </p>
                            </ng-container>
                        </div>
                    </div>




                    <div class="form-group row">
                        <label for="inputName" class="label col-sm-3 fomr-contro-label">Email</label>
                        <div class="col-sm-9">
                            <input name="email" 
                            type="text" 
                            nbInput fullWidth 
                            id="inputemail" 
                            placeholder="Email" 
                            [(ngModel)]="register.email"
                            #email="ngModel"
                            required
                            pattern=".+@.+\..+"
                            [status]="email.dirty ? (email.invalid ? 'danger':'success') : ''"
                            [attr.aria-invalid]="email.invalid && email.touched? true: null"
                            />
                            <ng-container *ngIf="email.invalid && email.touched">
                                <p class="caption status-danger" *ngIf="email.errors?.required">
                                    Email is Required!
                                </p>
                                <p class="caption status-danger" *ngIf="email.errors?.pattern">
                                    Email should be the real one
                                </p>
                            </ng-container>
                        </div>
                    </div>





                    <div class="form-group row">
                        <label for="inputName" class="label col-sm-3 fomr-contro-label">Password</label>
                        <div class="col-sm-9">
                            <input name="password" 
                            type="password" 
                            nbInput fullWidth 
                            id="inputpassword" 
                            placeholder="Password" 
                            [(ngModel)]="register.password"
                            #password="ngModel"
                            required
                            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                            maxlength="12"
                            minlength="4"
                            [attr.aria-invalid]="password.invalid && password.touched"
                            />
                            <ng-container *ngIf="password.invalid && password.touched">
                                <p class="caption status-danger" *ngIf="password.errors?.required">
                                    Password is Required!
                                </p>
                                <p class="caption status-danger" *ngIf="password.errors?.pattern">
                                    Password should contain 
                                    8 or more characters. At least one number, one uppercase and lowercase letter
                                </p>
                            </ng-container>
                        </div>
                    </div>



                    <div class="form-group row">
                        <label for="input-re-password" class="label col-sm-3 form-control-label">Confirm Password</label>
                        <div class="col-sm-9">
                            <input name="rePass" 
                            type="password" 
                            nbInput fullWidth 
                            id="input-re-password" 
                            placeholder="Confirm Password" 
                            [(ngModel)]="register.confirmpassword"
                            #rePass = "ngModel"
                            required
                            [status]="rePass.dirty ? (rePass.invalid || password.value != rePass.value ? 'danger' : 'success') : '' "
                            [attr.aria-invalid]="rePass.invalid && rePass.touched ? true : null"
                            
                            />
                            <ng-container *ngIf="rePass.invalid && rePass.touched">
                            <p class="caption status-danger" *ngIf="rePass.errors?.required">
                                Password Confirmation is required!
                            </p>
                            <p class="caption status-danger" *ngIf="password.value != rePass.value && !rePass.errors?.required">
                                Password does not match!
                            </p>
                        </ng-container>
                        </div>
                    </div>
                   
                    <button nbButton
                    fullWidth
                    status="primary"
                    [disabled]="false || !form.valid"
                    [class.btn-pulse]="submitted"
                    >Register</button>

                </form>
            </nb-card-body>
        </nb-card>
    </div>
</div>