<div class="row">
    <div class="col-md-6">
        <nb-card>
            <nb-card-header>Register</nb-card-header>
            <nb-card-body>
                <form class="form-horizontal">
                    <div class="form-group row">
                        <label for="inputName" class="label col-sm-3 fomr-contro-label">Name</label>
                        <div class="col-sm-9">
                            <input name="username" type="text" nbInput fullWidth id="inputusername" placeholder="Username" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputName" class="label col-sm-3 fomr-contro-label">Email</label>
                        <div class="col-sm-9">
                            <input name="email" type="text" nbInput fullWidth id="inputemail" placeholder="Email" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputName" class="label col-sm-3 fomr-contro-label">Password</label>
                        <div class="col-sm-9">
                            <input name="password" type="password" nbInput fullWidth id="inputpassword" placeholder="Password" />
                        </div>
                    </div>
                   
                </form>
            </nb-card-body>
        </nb-card>
    </div>
</div>