<div class="row">
    <div class = "col-md-6">
        <nb-card>
            <nb-card-header>Cloud Setting</nb-card-header>
            <nb-card-body>
                <form class = "form-horizontal" (ngSubmit)=onConnect() #form ="ngForm" aria-labelledby="title">

                    <div class = "form-group row">
                        <label for="inputURL" class="label col-sm-3 form-control-label">URL</label>
                        <div class = "col-sm-9">
                            <input name="URL" type="text" 
                            nbInput fullWidth id="inputURL" 
                            placeholder="URL" 
                            [(ngModel)]="cloud.URL"
                            #URL="ngModel"                           
                            required                        
                            [status]="URL.dirty ? (URL.invalid ? 'danger': 'success') : ''"
                            [attr.aria-invalid]="URL.invalid && URL.touched? true :null"
                            />
                            <ng-container *ngIf="URL.invalid && URL.touched">
                                <p class="caption status-danger" *ngIf="URL.errors?.required">
                                    URL is required!
                                </p>
                                
                                
                            </ng-container>
                            
                        </div>
                    </div>





                    <div class = "form-group row">
                        <label for="inputusername" class="label col-sm-3 form-control-label">Username</label>
                        <div class = "col-sm-9">
                            <input name="username" 
                            type="text"
                            #username="ngModel"
                            nbInput fullWidth 
                            id="inputusername" 
                            placeholder="Username" 
                            [(ngModel)]="cloud.username"
                            required
                            [status]="username.dirty ? (username.invalid ? 'danger':'success') : ''"                  
                            [attr.aria-invalid]="username.invalid && username.touched? true:null"
                            />
                            <ng-container *ngIf="username.invalid && username.touched">
                                <p class="caption status-danger" *ngIf="username.errors?.required">
                                    Username is Required
                                </p>
                                
                            </ng-container>
                        </div>
                    </div>



                    
                    <div class = "form-group row">
                        <label for="inputport" class="label col-sm-3 form-control-label">Port</label>
                        <div class = "col-sm-9">
                            <input name="port" 
                            type="number" 
                            nbInput fullWidth 
                            id="inputport" 
                            placeholder="Port Number" 
                            [(ngModel)]="cloud.port"
                            #port = "ngModel"
                            
                            required
                            [status]="port.dirty ? (port.invalid ? 'danger' : 'success') : ''"                          
                            [attr.aria-invalid]="port.invalid && port.touched? true:null"
                            />
                            <ng-container *ngIf="port.invalid && port.touched">
                                <p class="caption status-danger" *ngIf="port.errors?.required">
                                    Port is Required
                                </p>
                                
                            </ng-container>
                        </div>
                    </div>




                    <div class = "form-group row">
                        <label for="inputpassword" class="label col-sm-3 form-control-label">Password</label>
                        <div class = "col-sm-9">
                            <input name="password" 
                            type="password" 
                            nbInput fullWidth 
                            id="inputpassword" 
                            placeholder="Password" 
                            [(ngModel)]="cloud.password"
                            #password = "ngModel"
                            
                            required
                            [status]="password.dirty ? (password.invalid ? 'danger' : 'success') : ''"
                            
                            [attr.aria-invalid]="password.invalid && password.touched ? true:null"
                              />
                              <ng-container *ngIf="password.invalid && password.touched">
                                  <p class="caption status-danger" *ngIf="password.errors?.required">
                                      Password is Required
                                  </p>
                              </ng-container>
                        </div>
                    </div>
                 <div class="form-group row">
                     <div class="offset-sm-3 col-sm-9">
                         <div class="checkbox">
                             <nb-checkbox>SSL</nb-checkbox>
                         </div>
                     </div>
                 </div>



                 <div class="form-group row">
                     <div class="offset-sm-3 col-sm-9">
                         <button type="submit" nbButton 
                         fullWidth
                         status="primary"
                         size="large"
                         [disabled]="submitted && form.invalid"
                         [class.btn-pulse]="submitted && form.invalid">
                         Connect
                        </button>
                     </div>
                 </div>
                        
                </form>
            </nb-card-body>
        </nb-card>
    </div>  
</div>

<!-- <div class="row">
        <div class = "col-md-6">
            <nb-card>
                <nb-card-header>Cloud Setting</nb-card-header>
                <nb-card-body>
                    <form [formGroup]="form"  class = "form-horizontal" (ngSubmit)="onSubmit(form.value)">
                        <div class = "form-group row">
                            <label for="inputURL" class="label col-sm-3 form-control-label">URL</label>
                            <div class = "col-sm-9">
                                <input name="URL" type="text" nbInput fullWidth id="inputURL" placeholder="URL" formControlName="URL"/>
                               
                                
                            </div>
                        </div>
                        <div class = "form-group row">
                            <label for="inputusername" class="label col-sm-3 form-control-label">Username</label>
                            <div class = "col-sm-9">
                                <input name="username" type="text" nbInput fullWidth id="inputusername" placeholder="Username" formControlName="username"/>
                            </div>
                        </div>
                        <div class = "form-group row">
                            <label for="inputport" class="label col-sm-3 form-control-label">Port</label>
                            <div class = "col-sm-9">
                                <input name="port" type="number" nbInput fullWidth id="inputport" placeholder="Port Number" formControlName="port"/>
                            </div>
                        </div>
                        <div class = "form-group row">
                            <label for="inputpassword" class="label col-sm-3 form-control-label">Password</label>
                            <div class = "col-sm-9">
                                <input name="password" type="password" nbInput fullWidth id="inputpassword" placeholder="Password" formControlName="password"/>
                            </div>
                        </div>
                     <div class="form-group row">
                         <div class="offset-sm-3 col-sm-9">
                             <div class="checkbox">
                                 <nb-checkbox>SSL</nb-checkbox>
                             </div>
                         </div>
                     </div>
                     <div class="form-group row">
                         <div class="offset-sm-3 col-sm-9">
                             <button type="submit" nbButton status="info">Connect</button>
                         </div>
                     </div>
                            
                    </form>
                </nb-card-body>
            </nb-card>
        </div>  
    </div> -->